@model IEnumerable<Ghumfir.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<div class="tab-pane fade in show d-block">
    @if (TempData["Message"] != null)
    {

        <div class="alert alert-success alert-dismissible fade show d-block mt-3 px-2" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <strong>@TempData["Message"]</strong>
            <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    }
    <div class="table-responsive p-4">
        <h1 class="text-bold text-white ml-1">Categories</h1>
        <hr class="bg-white text-white " />
        <p class="d-flex justify-content-end mr-3">
            <a class="btn btn-primary mt-3 ml-2" asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a class="btn btn-primary mb-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-info mb-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger mb-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
